<!-- <div>
    <input type="number" [(ngModel)]="number"/>
    <div *ngIf="number!==null">
        <p *ngIf="number > 0; else falseblock">Number  is positive</p>
~        <ng-template #falseblock>
            <p *ngIf="number < 0; else zero">number is negative</p>
        <ng-template #zero>
            <p>Number is Zero</p>
        </ng-template>
        </ng-template>
    </div>
</div> -->
<!-- <div>
    <ol>
        <li *ngFor="let name of names">{{name}}</li>
    </ol>
    <ul>
        <li *ngFor="let n of names">{{n}}</li>
    </ul>
</div> -->
<!-- <div>
    <ol>
        <li *ngFor="let number of odd">{{number}}</li>
    </ol>
</div> -->
<!-- <div>
    <ul>
        <li *ngFor="let factorial of factorials">
          {{ factorial }}
        </li>
      </ul>
</div> -->
<!-- <div>
    <h2 [ngClass]="colour">Rajnish Kumar</h2>
    <button (click)="changeColour('red')">RED</button>
    <button (click)="changeColour('green')">GREEN</button>
    <button (click)="changeColour('blue')">BLUE</button>
    <button (click)="reset()">reset</button>
</div> -->
<!-- <h2 [ngStyle]=" {'color':'red'}">Rajnish Kumar</h2>inline ngStyle -->
<!-- <h1 [ngStyle]="changeRajnish()">RAJNISH KUMAR</h1>method inline -->


<!-- 
 -->
<!-- <div [ngClass]="color2">
<button (click)="changebgcolorngClass('blue')">Blue (ngClass)</button>
<button (click)="changebgcolorngStyle('red')">red (ngStyle)</button>
</div> -->


